<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="boostrap/css/boostrap.min.css">
    <link rel="stylesheet" href="plugins/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="boostrap/js/boostrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="main.js"> </script>

    <header>
        <h1 class="text-center text-dark"><span class="badge  bg-success">CRUD PELICULAS</span></h1>
    </header>

    <div id="app">

        <div class="container">
            <div class="row mt-5">
                <table> 

                <div>
                    <th> Nombre: <input type="text" class="form-control my-3" v-model="nombre"></th>
                    <th> Año: <input type="text" class="form-control my-3" v-model="anio"></th>
                    <th> Precio: <input type="text" class="form-control my-3" v-model="precio"></th>
                    <th> Cantidad: <input type="text" class="form-control my-3" v-model="cantidad"></th>
                    <th> Descripcion: <input type="text" class="form-control my-3" v-model="descripcion"></th>
                    
                </div>
                
            </table> 
            </div>

        </div>
    
        <button class="btn btn-primary" @click="agregarPelicula">Agregar</button>

        <div class="row mt-5">
            <div class="col-lg-12">
                <table class="table tbale-striped">
                    <thead>
                     <tr class="bg-dark  text-light">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Año</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Descripcion</th>
                        <th>Accion</th>
                     </tr> 
                    </thead>
                    
                    <tbody>
                        <tr v-for="(item, index) in peliculas">
                            <td>{{index}}</td>
                            <td>{{item.nombre}}</td>         
                            <td>{{item.anio}}</td>            
                            <td>{{item.precio}}</td>  
                            <td>{{item.cantidad}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>
                                <span v-if="formActualizar && idActualizar == index">
                                    <button @click="guardarActualizacion(index)" class="btn btn-success">Guardar</button>
                                </span>

                                <span v-else> 
                                <button @click="btnEditar(index)" class="btn btn-warning" title="Editar"> <i class="fas fa-2x">Editar</i></button>
                                <button @click="eliminar(index)" class="btn btn-danger" title="Eliminar"> <i class="fas  fa-2x">Eliminar</i></button>
                                </span>
                            </td>
                        </tr>
                    </tbody>

                   
                </table>
            </div>
        </div>

        <td>
            <span v-if="formActualizar && idActualizar == index"> </span>
            <input v-model="nombreActualizar" type="text" class="form-comtrol" >
            <span v-else>
               
                {{item.nombre}}
            </span>
        </td>
        <td>
            <span v-if="formActualizar && idActualizar == index"> </span>
            <input v-model="anioActualizar" type="text" class="form-comtrol" >
            <span v-else>
               
                {{item.anio}}
            </span>
        </td>
        <td>
            <span v-if="formActualizar && idActualizar == index"> </span>
            <input v-model="precioActualizar" type="text" class="form-comtrol" >
            <span v-else>
               
                {{item.precio}}
            </span>
        </td>
        <td>
            <span v-if="formActualizar && idActualizar == index"> </span>
            <input v-model="cantidadActualizar" type="text" class="form-comtrol" >
            <span v-else>
               
                {{item.cantidad}}
            </span>
        </td>
        <td>
            <span v-if="formActualizar && idActualizar == index"> </span>
            <input v-model="descripcionActualizar" type="text" class="form-comtrol" >
            <span v-else>
               
                {{item.descripcion}}
            </span>
        </td>
    </div>
</body>
</html>
